*~
*.out
*.Rout
.DS_Store
.future
.Rapp.history
.RData
.Rhistory
.Rproj.user/
_targets
_targets.R
docs
inst/doc
vignettes/*.html
README.html
paper.html
.Rproj.user
example
inst/example
csv_files
stantargets_example
stantargets_example.stan
